.icon {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: var(--text-color-link);
  color: var(--text-color-light);
  border: none;
  font-size: 18px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;

  &.cancel {
    background-color: var(--text-color-link-active);
    color: var(--text-color-light);
  }

  &:hover {
    background: var(--text-color-link-hover);
    transform: translateY(0px) scale(1.1);
  }

  &.active {
    background: var(--text-color-link-active);
  }
}
