<div class="album-poster">
  <img [src]="album.urlCover" [alt]="album.title" loading="lazy" decoding="async" />
  @if (album.owned) {
    <div class="vinyl-overlay" title="Owned (Vinyl)"></div>
  }
  <div class="top-left-icons">
    @if (album.urlVideo) {
      <a [href]="album.urlVideo" target="_blank" class="video-icon" title="Watch Video"></a>
    }
    @if (album.urlWikipedia) {
      <a [href]="album.urlWikipedia" target="_blank" class="wikipedia-icon" title="Wikipedia Article"></a>
    }
  </div>
  <div class="top-right-icons">
    @if (album.rating) {
      <div class="rating-circle" title="">
        {{ album.rating }}
      </div>
    }
  </div>
  <div class="album-overlay">
    <div class="overlay-bookmarks">
      @if (album.tino) {
        <div class="bookmark-tino" title="Tino's Tip"></div>
      }
      @if (album.wire) {
        <div class="bookmark-wire" title="The Wire"></div>
      }
    </div>
    <div class="album-artist">
      @for (item of album.albumArtist; track $index) {
        <a [routerLink]="['/albumArtist', item.trim()]">{{ item.trim() }}</a>
        @if (!$last) {
          <span>, </span>
        }
      }
      @if (album.fan) {
        <span class="inline-icon" title="Fan/Favorite">❤️</span>
      }
    </div>
    <div class="album-title">
      @if (album.urlAlbum) {
        <a [href]="album.urlAlbum" target="_blank">{{ album.title }}</a>
      } @else {
        {{ album.title }}
      }
    </div>
    <div class="album-label" [title]="album.publisher">
      (<a [routerLink]="['/releaseYear', album.releaseYear]">{{ album.releaseYear }}</a
      >)
      @for (item of album.publisher; track $index) {
        <a [routerLink]="['/publisher', item.trim()]">{{ item.trim() }}</a>
        @if (!$last) {
          <span>, </span>
        }
      }
    </div>
    <div class="album-meta">
      <div class="location">
        <div class="album-country">
          <a [routerLink]="['/country', album.country]">{{ album.country }}</a>
        </div>
        <div class="album-city">
          <a [routerLink]="['/city', album.city]">{{ album.city }}</a>
        </div>
      </div>
      <div class="genre">
        <div class="album-genre">
          @for (item of album.genre; track $index) {
            <a [routerLink]="['/genre', item.trim()]">{{ item.trim() }}</a>
            @if (!$last) {
              <span>, </span>
            }
          }
        </div>
        <div class="album-style">
          @for (item of album.style; track $index) {
            <a [routerLink]="['/style', item.trim()]">{{ item.trim() }}</a>
            @if (!$last) {
              <span>, </span>
            }
          }
        </div>
      </div>
    </div>
  </div>
</div>
