:host {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: rgba(0, 0, 0, 0.77);
  color: var(--text-color-light);
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 4px 4px;
}

.marker-wrapper {
  position: absolute;
  top: -16px;
  right: 0px;
  display: flex;
  gap: 0px;
  z-index: 20;

  .marker {
    position: relative;
    width: 28px;
    height: 32px;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M17 3H7c-1.1 0-2 .9-2 2v16l7-3 7 3V5c0-1.1-.9-2-2-2z'/%3E%3C/svg%3E")
      no-repeat center / contain;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
    transition: transform 0.3s;

    &:hover {
      transform: translateY(-2px) scale(1.1);
    }

    &.tino {
      background-color: #ecb41a;
    }

    &.wire {
      background-color: #ed490e;
    }
  }
}

.link-list {
  display: flex;
  flex-wrap: wrap;
  // overflow: hidden;
  // text-overflow: ellipsis;

  &.end {
    justify-content: flex-end;
  }
}

.album-artist {
  font-size: 0.9em;
}

.inline-icon {
  font-size: inherit;
  margin-left: 5px;
  vertical-align: baseline;
  cursor: help;
  display: inline-block;
}

.album-title {
  font-weight: bold;
  font-size: 1em;

  a {
    color: var(--text-color-link-external);
  }
}

.publishers-and-year {
  font-size: 0.75em;
  display: flex;
  font-size: 0.85em;

  .release-year {
    font-weight: normal;
    color: var(--color-highlight);
    //vertical-align: baseline;
    // padding: 0;
  }
}

// Metadata Columns

.album-meta {
  display: flex;
  color: var(--text-color-muted);
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 0.75em;

  .country-and-city,
  .genre-and-style {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    gap: 2px;
  }

  .genre-and-style {
    max-width: 70%;
    text-align: right;
  }
}

.separator::after {
  content: '+';
}

.separator-highlight::after {
  content: ' / ';
  white-space: pre;
  font-size: 0.5em;
}
