<a routerLink="/year/2025">Home</a>
<a routerLink="/year/2025">2025</a>
<span class="nav-title">{{currentPeriod}}</span>

<div class="hamburger-menu" id="hamburgerMenu">
    <button class="hamburger-btn" id="hamburgerBtn" (click)="menuHidden = !menuHidden" [class.active]="!menuHidden">
        <span></span>
        <span></span>
        <span></span>
    </button>
    @if (!menuHidden) {
    <div class="menu-content" id="menuContent" [class.hidden]="menuHidden">
        <div class="menu-header">Collection</div>
        <a href="2025-de.html">2025-de</a>
        <a href="platten.html">platten</a>
        <a href="sampler.html">sampler</a>
        <a href="some-favorites.html">some-favorites</a>
        @for (decade of albumMetaService.releaseYearSummary().decades; track $index) {
        <a [routerLink]="['/decade', decade]" (click)="menuHidden = true">{{decade}}</a>
        }
        @for (year of albumMetaService.releaseYearSummary().releaseYears; track $index) {
        <a [routerLink]="['/year', year]" (click)="menuHidden = true">{{year}}</a>
        }
    </div>
    }
</div>