<a [routerLink]="['/']" [queryParams]="{ releaseYear: 2026 }">Home</a>

<!-- Years Navigation -->
@if (filterParams().releaseYear) {
  @if (prevYear()) {
    <a [routerLink]="['/']" [queryParams]="{ releaseYear: prevYear() }" queryParamsHandling="merge">
      {{ prevYear() }}
    </a>
  }
  <span class="nav-title">Records in {{ filterParams().releaseYear }}</span>
  @if (nextYear()) {
    <a [routerLink]="['/']" [queryParams]="{ releaseYear: nextYear() }" queryParamsHandling="merge">
      {{ nextYear() }}
    </a>
  }
}

<!-- Decades Navigation -->
@if (filterParams().decade) {
  @if (prevDecade()) {
    <a [routerLink]="['/']" [queryParams]="{ decade: prevDecade() }" queryParamsHandling="merge">
      {{ prevDecade() }}
    </a>
  }
  <span class="nav-title">{{ filterParams().decade }}s</span>
  @if (nextDecade()) {
    <a [routerLink]="['/']" [queryParams]="{ decade: nextDecade() }" queryParamsHandling="merge">
      {{ nextDecade() }}
    </a>
  }
}

<div class="hamburger-menu" id="hamburgerMenu">
  <button class="hamburger-btn" id="hamburgerBtn" (click)="menuHidden = !menuHidden" [class.active]="!menuHidden">
    <span></span>
    <span></span>
    <span></span>
  </button>

  @if (!menuHidden) {
    <div class="menu-content" id="menuContent">
      <h2 class="menu-header">Sonstige</h2>
      <a [routerLink]="['/']" [queryParams]="{ owned: true }" (click)="menuHidden = true">Sammlung</a>
      <a [routerLink]="['/']" [queryParams]="{ favorite: true }" (click)="menuHidden = true">Favoriten</a>
      <a [routerLink]="['/']" [queryParams]="{ wishlist: true }" (click)="menuHidden = true">Wunschliste</a>

      @if (yearsAndDecades.isLoading()) {
        <p>Lade Dekaden...</p>
      } @else if (yearsAndDecades.error()) {
        <p>Fehler beim Laden!</p>
      } @else {
        <h2 class="menu-header">Dekaden</h2>
        @for (decade of yearsAndDecades.value().decades; track decade) {
          <a [routerLink]="['/']" [queryParams]="{ decade: decade }" (click)="menuHidden = true">{{ decade }}s</a>
        }

        <h2 class="menu-header">Jahre</h2>
        @for (releaseYear of yearsAndDecades.value().releaseYears; track releaseYear) {
          <a [routerLink]="['/']" [queryParams]="{ releaseYear: releaseYear }" (click)="menuHidden = true">{{
            releaseYear
          }}</a>
        }
      }
    </div>
  }
</div>
