:host {
  position: relative;
}

nav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);
  padding: var(--padding-horizontal-md);
}

.open-menu-dialog-btn {
  flex: 0;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
  font-size: 30px;

  &:hover {
    filter: drop-shadow(0 0 8px #ffe100);
  }

  &.active {
    filter: drop-shadow(0 0 8px var(--text-color-link-active));
  }
}

app-album-tile-filter-link {
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: none;
}

.hidden {
  display: none;
}

.nav-title {
  font-weight: bold;
  letter-spacing: 1px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-title-label {
  display: none;
  color: black;
}

.nav-title-value {
  text-decoration: underline;
}

.reset-btn {
  font-size: 18px;
}

.menu-header {
  column-span: all;
  padding: 12px 12px 6px 12px;
  font-size: 1.35em;
  letter-spacing: 2px;
  margin-bottom: 12px;
  text-align: center;
}

.menu-dialog {
  display: block;
  position: absolute;
  top: 68px;
  width: calc(100vw - 32px);
  background-color: var(--text-color-dark);
  color: var(--text-color-light);
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.18);
  padding: 16px 16px 32px;
  z-index: 1000;

  column-gap: 8px;
  grid-template-columns: repeat(2, 1fr);
  max-height: none;
  column-count: 2;
}

.menu-dialog a {
  padding: 10px 12px;
  color: var(--text-color-link);
  transition: all 0.2s;
  display: block;
  text-align: center;
  margin-bottom: 8px;
  cursor: pointer;

  &:hover {
    color: var(--text-color-light);
    text-decoration: none;
  }
}

@media (min-width: 480px) {
  .nav-title {
    font-size: 1.5em;
  }
  .menu-dialog {
    grid-template-columns: repeat(2, 1fr);
    column-count: 4;
  }
  .nav-title-label {
    display: inline;
  }
}
