@mixin smallButton() {
  position: fixed;
  bottom: 30px;
  z-index: 9999;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: var(--text-color-link);
  color: var(--text-color-light);
  border: none;
  font-size: 22px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);

  opacity: 0;
  visibility: hidden;
  transform: translateY(50px) scale(0.9);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease,
    visibility 0.3s;

  &.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0) scale(1);
  }

  &:hover {
    background: var(--text-color-link-hover);
    transform: translateY(0px) scale(1.1);
  }

  &.active {
    background: var(--text-color-link-active);
  }
}

.scroll-to-top-btn {
  @include smallButton();
  right: 30px;
}

.show-infos-btn {
  @include smallButton();
  right: 90px;
}
