@use '../../app.scss' as app;

.sort-button {
  @include app.filter-button();
  border: 0;
  height: 40px;
  padding: 0 18px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s;
  white-space: nowrap;

  background: var(--text-color-link);
  color: var(--text-color-light);

  &:hover {
    background: var(--text-color-link-hover);
  }

  &.active {
    background: var(--text-color-link-active);
  }
}
